<?xml version="1.0" encoding="UTF-8"?>
<web-app id="ifm_service_catalog" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 
    <display-name>noveno9</display-name>


	<servlet>
    	<description>
    	</description>
    	<display-name>mipez</display-name>
    	<servlet-name>pez</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.ControladorNombre</servlet-class>
    </servlet>
	
	<servlet-mapping>
    	<servlet-name>pez</servlet-name>
    	<url-pattern>/nombre</url-pattern>
    </servlet-mapping>


	<servlet>
    	<description>
    	</description>
    	<display-name>miperro</display-name>
    	<servlet-name>perro</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.micontrolador.MiControlador</servlet-class>
    </servlet>
	
	<servlet-mapping>
    	<servlet-name>perro</servlet-name>
    	<url-pattern>/mipagina</url-pattern>
    </servlet-mapping>
    
    
    
    
    
	<servlet>
    	<description>
    	</description>
    	<display-name>CalculadoraPage</display-name>
    	<servlet-name>CalculadoraPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador2.CalculadoraPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CalculadoraPage</servlet-name>
    	<url-pattern>/formulario-calculadora</url-pattern>
    </servlet-mapping>

    
	<servlet>
    	<description>
    	</description>
    	<display-name>CssMediaQueryPage</display-name>
    	<servlet-name>CssMediaQueryPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.CssMediaQueryPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>CssMediaQueryPage</servlet-name>
    	<url-pattern>/css-media-query</url-pattern>
    </servlet-mapping>
 
    
    <servlet>
    	<description>
    	</description>
    	<display-name>DisenioResponsivoPage</display-name>
    	<servlet-name>DisenioResponsivoPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.DisenioResponsivoPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>DisenioResponsivoPage</servlet-name>
    	<url-pattern>/responsivo</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<description>
    	</description>
    	<display-name>GridPage</display-name>
    	<servlet-name>GridPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.GridPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>GridPage</servlet-name>
    	<url-pattern>/grid</url-pattern>
    </servlet-mapping>


    <servlet>
    	<description>
    	</description>
    	<display-name>IndexPage</display-name>
    	<servlet-name>IndexPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.IndexPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>IndexPage</servlet-name>
    	<url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    	<description>
    	</description>
    	<display-name>ContenedorPage</display-name>
    	<servlet-name>ContenedorPage</servlet-name>
    	<servlet-class>com.novenoa.sitiobasico.controlador.ContenedorPage</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ContenedorPage</servlet-name>
    	<url-pattern>/contenedor/*</url-pattern>
    </servlet-mapping>
   
</web-app>